@import '../../../../styles/mixins';
@import '../../../../styles/fonts';

footer {
  @include flex(flex, row, center, center, center);
  width: 100%;
  height: 100%;
  background: whitesmoke;
  p {
    @include flex(flex, row, center, null, center);
    margin-right: 0px;
    font-family: 'Acme', arial, sans-serif;
    font-size: 3vw;
    img {
      width: 5vw;
    }
  }
}
