@import '../../../../styles/mixins';
@import '../../../../styles/fonts';
@import '../../../../styles/colors';

.search__container {
  @include flex(flex, column, center);
  app-header {
    width: 100%;
    height: 10%;
  }

  main {
    @include flex(flex, column, space-between, center, center);
    width: 100%;
    height: 75%;
    form {
      @include flex(flex, row, space-around, center, center);
      width: 99%;
      height: 10%;
      margin: 1px;
      padding: 10px;
      background: $app-lightGreen;
    }
    .selection-container {
      @include flex(flex, row, space-around, center, center);
      width: 100%;
      height: 80%;
      .item-conteiner {
        @include flex(flex, column, flex-start, center, center);
        width: 5%;
        height: 5%;
      }
    }
    .filter-properties {
      @include flex(flex, row, center, null, center);
      width: 35%;
      height: 100%;
      input {
        width: 60%;
        height: 59%;
        padding-left: 10px;
        border-radius: 10%;
        border: solid 2px $app-darkGray;
        &:focus {
          outline: none;
        }
        &:active {
          outline: none;
        }
      }
      input::placeholder {
        font-family: 'Acme', arial, sans-serif;
        font-size: 1em;
        color: $app-lightGray;
      }
    }
    .filter-price {
      @include flex(flex, row, center, null, center);
      width: 35%;
      height: 100%;
    }
    button {
      width: 5%;
      height: 80%;
      border-color: #bef625;
      background: $app-lightGreen;
      &:focus {
        outline: none;
      }
      &:active {
        outline: none;
      }
      img {
        width: 2vw;
      }
    }
  }
}

label {
  @include flex(flex, column, center, center, center);
  width: 22%;
  margin-right: 10px;
  font-family: 'Acme', arial, sans-serif;
  font-size: 1em;
  color: $app-darkGray;
}

select {
  width: 30%;
  height: 65%;
  margin-right: 2px;
  border-radius: 10%;
  border: solid 2px $app-darkGray;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

app-footer {
  width: 100%;
  height: 15%;
}
